body{
	margin: 0;
	background-image: url(../img/pattern.jpg);
	background-size: cover;
}

.header-content {
	background-color: white;
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	z-index: 10;
}

.content-list {
	padding-bottom: 5px;
}

.logo {
	width: 140px;
	float: left;
	margin-top: 5px;
}

li {
	font-family: "Slabo 27px";
	font-weight: bold;
	list-style: none;
	float: right;
	padding: 0px 10px 100px 10px;
	color: blue;
	display: inline;
}

/*Selector for Content Page */

section {
	background-color: white;
	width: 70%;
	margin: 55 auto 0 auto;
}

.title {
	font-family: "Arial";
	font-size: 28px;
	padding-top: 15px;
	text-align: center;
	font-weight: bold;
}

.title1 {
	font-family: "Slabo";
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

p {
	font-size: 14px;
	padding-bottom: 10px;
}

/*Selector for Content Section*/

/*Selector for Player Card*/
.container-profile {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 18px 161px;
}

.kante-card {
	width: 301px;
	height: 390;
}

/*Selector for Player Info*/
.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350;
    padding: 20px 10px;
}

.row-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 80%;
}

.info-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
	border-bottom: 2px solid #dee7ec;
    padding: 0px 10px 0px 10px;
    width: 100%;
}

.info-1 p {
	padding-left: 10px;
	font-weight: bold;
	font-family: "Arial";
}

.key-player {
    height: auto;
    width: 50%;
}

.value-player {
    height: auto;
    width: 50%;
}

/*Selector for Stat Section*/
.kante-stat {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

/*Selector for More Info Link*/
.more-info {
	margin: 30px;
	padding: 30;
}

.kante-link {
	color: #000;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	font-size: 18px;
	font-family: "Arial";
	text-align: center;
}

/*Selector for Footer Page*/
footer {
	background-color: black;
	width: 100%;
	height: 50px;
}

h5 {
	color: white;
	padding-top: 10px;
	text-align: center;
}